<div class="container">
    <h1 class="display-1"><%= @user.username %></h1>
    <hr />
    <h2 class="display-6 mb-2">Liste des posts</h2>
    <% @posts.each do |post| %>
        <div class="card d-inline-block" style="width: 18rem;">
            <div class="card-body">
                <h3 class="h3"><%= link_to(post.title, post_path(post.id)) %><h3>
            </div>
        </div>
    <% end %>
</div>
